<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FASTOR E-commerce</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <header>
        <div class="text-center p-2" style="background-color: #d1e7dd; color: #0f5132;">
            Free ship đơn từ 40k, giảm nhiều hơn cũng <span style="font-weight: bold; font-style: italic;">FREESHIP XTRA</span>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="font-weight: bold; font-size: 1.5rem;">FASTOR</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Danh mục
                            </a>
                           
                            @{ Html.RenderAction("CategoryMenu", "Layout"); }
                        </li>
                    </ul>

                   
                    @{ Html.RenderAction("PersonalMenu", "Layout"); }

                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content mt-4">
        @RenderBody()
    </div>

    <footer class="mt-5 p-4 bg-dark text-white text-center">
        <div class="container">
            <p>&copy; 2025 - Fastor Shop Inc </p>
            <p>Contact us!</p>
            <p>Tên các thành viên trong nhóm</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>