@model _24DH11420_LTTH_BE234.Models.Customer

@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="row mt-4">

    <div class="col-md-8">
        <h4>Thông tin cá nhân</h4>
        <hr />

        <div class="row mb-3">
            <strong class="col-sm-3">Họ và tên</strong>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.CustomerName)
            </div>
        </div>

        <div class="row mb-3">
            <strong class="col-sm-3">Địa chỉ Email</strong>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.CustomerEmail)
            </div>
        </div>

        <div class="row mb-3">
            <strong class="col-sm-3">Số điện thoại</strong>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.CustomerPhone)
            </div>
        </div>

        <div class="row mb-3">
            <strong class="col-sm-3">Địa chỉ</strong>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.CustomerAddress)
            </div>
        </div>

        <div class="row mb-3">
            <strong class="col-sm-3">Tên đăng nhập</strong>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.Username)
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h4>Bảo mật</h4>
        <hr />

        <div class="d-grid gap-2">
            @Html.ActionLink("Chỉnh sửa thông tin", "UpdateProfile", "Account", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Account", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>