@model _24DH11420_LTTH_BE234.Models.ViewModel.ProductDetailVM

@{
    ViewBag.Title = Model.Product.ProductName;
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerDetailProduct.css" />


<div class="container-fluid pro">
    <div class="row">

        <div class="col-md-3 pro-section">
            <img src="@Url.Content(Model.Product.ProductImage)" class="pro-section img" style="width: 100%;" />
        </div>

        <div class="col-md-5 pro-section">
            <h3>@Html.DisplayFor(model => model.Product.ProductName)</h3>
            <p class="pro-sale">Đã bán: @Html.DisplayFor(model => model.Product.OrderDetails.Count)</p>
            <h2 class="pro-price">@string.Format("{0:N0}", Model.Product.ProductPrice) ₫</h2>
            <p><strong>Tú sách:</strong> @Html.DisplayFor(model => model.Product.Category.CategoryName)</p>
            <hr />
            <h5>Mô tả</h5>
            <p>@Html.DisplayFor(model => model.Product.ProductDescription)</p>
        </div>

        <div class="col-md-4 pro-section">

            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Get))
            {
                // Truyền ID sản phẩm
                @Html.HiddenFor(model => model.Product.ProductID, new { @Name = "id" })

                <div class="form-group mb-3">
                    <strong>Số lượng</strong>
                    @Html.TextBoxFor(model => model.quantity, new { @Name = "quantity", @class = "form-control", type = "number", min = 1, @Value = 1 })
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <strong>Tạm tính</strong>
                    <span class="pro-price">@string.Format("{0:N0}", Model.Product.ProductPrice) ₫</span>
                </div>

                <button type="submit" class="btn btn-info w-100">
                    Thêm vào giỏ hàng
                </button>
            }

            <hr />

            <div>
                @Html.Partial("_PVTopProduct", Model)
            </div>
        </div>
    </div>
</div>