@model _24DH11420_LTTH_BE234.Models.ViewModel.SearchProductVM
@using PagedList
@using PagedList.Mvc
<head>
    <style>
        img {
            height: 150px;
            max-width: 150px;
        }
    </style>
</head>
<div class="form-group order-container">
    Sắp xếp theo:
    @Html.ActionLink("Tên tăng dần", "Index", new
    {
        sortOrder = "name_asc",
        SearchTerm = Model.SearchTerm // Persist search term
    }) |
    @Html.ActionLink("Tên giảm dần", "Index", new
    {
        sortOrder = "name_desc",
        SearchTerm = Model.SearchTerm
    }) |
    @Html.ActionLink("Giá tăng dần", "Index", new
    {
        sortOrder = "price_asc",
        SearchTerm = Model.SearchTerm
    }) |
    @Html.ActionLink("Giá giảm dần", "Index", new
    {
        sortOrder = "price_desc",
        SearchTerm = Model.SearchTerm
    })
</div>

@if (Model.Products != null && Model.Products.Any())
{
    <h2 class="bg-success">DANH SÁCH SẢN PHẨM</h2>

    <table class="table bg-info table-responsive">
        <thead>
            <tr>
                <th class="bg-success col-md-2">Hình ảnh</th>
                <th class="bg-success col-md-3">Tên sản phẩm</th>
                <th class="bg-success col-md-1">Đơn giá</th>
                <th class="bg-success col-md-2">Danh mục</th>
                <th class="bg-success col-md-4"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(product.ProductImage)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Category.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination-container">
        @Html.PagedListPager(Model.Products, page => Url.Action("Index",
            new
                 {
                page,
                searchTerm = Model.SearchTerm,
                minPrice = Model.MinPrice,
                maxPrice = Model.MaxPrice,
                sortOrder = Model.SortOrder
            }))
    </div>
}
else
{
    < p > Không tìm được sản phẩm nào phù hợp.</ p >
}
<div class="form-group">
    <div class="col-md-offset-8 col-md-4">
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
