@model _24DH11420_LTTH_BE234.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2 class="bg-warning">Cập nhật</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CategoryID)
    
    @Html.Partial("PVCreateEditCatagory", Model)
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
